.form-container {
    background-color: #a5b6c7; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0px 4px 8px rgba(112, 110, 110, 0.1); 
    width: 80%; 
    max-width: 800px; 
    margin-top: 5em; 
    margin-left: auto;
    margin-right: auto; 
}


.form-input,
.form-textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #a5b6c7;
    border-radius: 4px;
    margin-top: 5px;
}

.form-textarea {
    min-height: 100px;
}

.form-control {
    display: flex;
    justify-content: center;
}

.form-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #20271e;
    background-color: #71836f;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #244e2c;
}
